<%- include("partials/header") %>

<div id="main-container" class="container">
	<div class="row">
		<div class="col-sm">
			<h3>Nye varer</h3>
		<form action="/todos" method="POST" id="new-todo-form">
			<div class="form-group">
				<label for="new-item"></label>
				<input type="text" name="todo[text]" class="form-control" placeholder="Skriv handleliste her" id="new-item" maxlength="50"> 
			</div>
			<button class="btn btn-success">Legg til handlelisten</button>
		</form>
			
			<h3>Varer å kjøpe</h3>
			<ul class="list-group" id="todo-list">
			<% todos.forEach(function(todo){ %>
				<li class="list-group-item">
					<form action="/todos/<%=todo._id%>" method="POST" class="edit-item-form">
						<div class="form-group">
							<label for="<%=todo._id%>"></label>
							<input type="text" value="<%= todo.text %>" name="todo[text]" class="form-control" id="<%=todo._id%>">
						</div>
						<button class="btn btn-success">Lagre</button>
					</form>
					<span class="lead">
						<%= todo.text %>
					</span>
					<div class="float-right">
						<button class="btn btn-sm btn-warning edit-button">Rediger</button>
						<form style="display: inline" method="POST" action="/todos/<%=todo._id%>" class="delete-item-form">
							<button type="submit" class="btn btn-sm btn-danger delete-button">Gjort</button>
						</form>
					</div>
					<div class="clearfix"></div>
				</li>
			<% }); %>
			</ul>
		</div>
	</div>
</div>

<%- include("partials/footer") %>



